@media (max-width: 1440px) {
    .container {
        padding: 0 12px !important;
    }

    .main-meta {
        .main-content {
            gap: 16px;
            overflow: hidden;

            .main-block {
                .main-img {
                    max-width: 700px;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .main-info {
        .main-open {
            padding-top: 50px;
            gap: 50px;

            .main-item {
                gap: 16px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .banner {
        .header {
            .header-item {
                position: relative;
                gap: 20px;

                .phone-nav {
                    display: block;
                }

                .ul-list {
                    display: none;
                }

                .input-btn {
                    width: 100%;
                    justify-content: flex-end;
                }
            }

            .phone-nav-mn {
                pointer-events: auto;
                height: calc(100vh - 68px);
                top: 68px;
            }
        }

        .banner-item {
            .wrapper {
                .slide-banner {
                    .slide-item {
                        height: 450px;

                        a {
                            img {
                                height: 100%;
                                object-fit: cover;
                            }

                            .banner-title {
                                h1 {
                                    font-size: 35px;
                                    line-height: 1.2;
                                }

                                p {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-pagination-item {
                top: 90%;
            }
        }
    }

    .main-meta {
        .main-content {
            .main-block {
                .main-img {
                    max-width: 492px;
                }

                .main-title {
                    h1 {
                        font-size: 35px;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .main-info {
        .main-open {
            .main-text {
                h1 {
                    font-size: 52px;
                    line-height: 1.2;
                }

                p {
                    font-size: 18px;
                }
            }

            .main-item {
                .main-v {
                    .title {
                        h1 {
                            font-size: 35px;
                            line-height: 1.2;
                        }

                        .btn-main {
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        .header {
            .header-item {
                .header-item-img {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .banner-item {
            .wrapper {
                .slide-banner {
                    .slide-item {
                        height: 450px;

                        a {
                            img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .banner-title {
                            top: 60%;
                            left: 53%;

                            h1 {
                                font-size: 30px;
                                line-height: 30px;
                            }

                            h1 br {
                                display: none;
                            }

                            p {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            .btn-link {
                                padding: 8px 20px;
                            }
                        }
                    }
                }
            }

            .swiper-pagination-item {
                left: 3%;
            }
        }
    }

    .main-meta {
        .main-content {
            .main-block {
                .main-img {
                    max-width: 364px;
                }

                .main-title {
                    left: 17px;

                    h1 {
                        font-size: 28px;
                        line-height: 30px;
                    }

                    h1 br {
                        display: none;
                    }

                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .main-info {
        .main-open {
            .main-item {
                .main-v {
                    .title {
                        left: 19px;
                        gap: 0;

                        h1 {
                            font-size: 30px;
                            line-height: 1.2;
                        }

                        .btn-main {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .banner {
        .footer-meta {
            padding-top: 50px;

            .footer {
                .footer-content {
                    .footer-social {
                        flex-wrap: wrap;
                        gap: 10px;

                        .phone {
                            .phone-item {
                                a {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .footer-block {
                        .footer-item {
                            max-width: none;

                            h2 {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-meta {
        .footer {
            .footer-content {
                .footer-social {
                    flex-wrap: wrap;
                    gap: 10px;

                    .phone {
                        .phone-item {
                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .footer-block {
                    .footer-item {
                        max-width: none;

                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .content {
        overflow: hidden;

        .banner {
            .header {
                .header-item {
                    .phone-nav {
                        .lines {
                            width: 25px;
                        }
                    }
                }

                .phone-nav-mn {
                    top: 60px;
                    height: calc(100vh - 48px);
                }
            }

            .banner-item {
                .wrapper {
                    .slide-banner {
                        a {
                            .banner-title {
                                top: 70%;
                                left: 53%;
                                display: flex;
                                flex-direction: column;
                                gap: 7px;

                                h1 {
                                    font-size: 30px;
                                    line-height: 1.2;
                                    padding-bottom: 0;
                                }

                                h1 br {
                                    display: none;
                                }

                                p {
                                    font-size: 14px;
                                    line-height: 1.2;
                                    padding-bottom: 0;
                                }

                                p br {
                                    display: none;
                                }

                                .btn-link {
                                    font-size: 12px;
                                    max-width: 143px;
                                }
                            }
                        }
                    }
                }

                .swiper-pagination-item {
                    display: none;
                }
            }
        }

        .main-inner {
            overflow: hidden;

            .main-meta {
                .main-content {
                    .main-block {
                        height: 400px;

                        img {
                            height: 100%;
                            object-fit: cover;
                        }

                        .main-img {
                            max-width: none;
                            height: 100%;
                        }

                        .main-title {
                            h1 {
                                font-size: 30px;
                                line-height: 1.2;
                            }

                            h1 br {
                                display: none;
                            }

                            p {
                                font-size: 14px;
                                line-height: 1.2;
                            }

                            .btn-main {
                                font-size: 14px;
                                padding: 5px 0;

                                svg {
                                    height: 9px;
                                    width: 5px;
                                }
                            }
                        }

                        .text {
                            .btn-solution {
                                max-width: 143px;
                                padding: 8px 20px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .swiper-container {
            .swiper-slide {
                width: 100% !important;
            }
        }

        .main-info {
            .main-open {
                gap: 30px;

                .main-text {
                    h1 {
                        font-size: 30px;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.2;
                    }
                }

                .main-item {
                    flex-direction: column;
                }
            }
        }

        .footer-meta {
            padding-top: 50px !important;

            .footer {
                .footer-content {
                    .footer-block {
                        flex-direction: column;
                        gap: 15px;

                        .footer-item {
                            border-bottom: 1px solid rgb(255 255 255);
                        }
                    }

                    .footer-social {
                        .phone {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 10px;
                        }
                    }

                    .foot-license {
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 376px) {
    .content {
        .banner {
            .header {
                .header-item {
                    padding: 10px 0;

                    a {
                        img {
                            width: 50px;
                        }
                    }
                }
            }

            .banner-item {
                .wrapper {
                    .slide-banner {
                        .banner-title {
                            gap: 5px;

                            h1 {
                                font-size: 12px;
                            }

                            p {
                                font-size: 10px;
                            }

                            .btn-link {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }

        .main-info {
            .main-open {
                .main-text {
                    h1 {
                        font-size: 26px;
                    }

                    p {
                        line-height: 1.2;
                        font-size: 12px;
                    }
                }
            }
        }

        .main-inner {
            .main-meta {
                .main-content {
                    .main-block {
                        .main-title {
                            h1 {
                                font-size: 28px;
                            }

                            h1 br {
                                display: none;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .content {
        .banner {
            .header {
                .header-item {
                    gap: 5px;

                    .input-btn {
                        .dropdown {
                            .btn-item {
                                padding: 8px 5px;
                            }

                            .dropdown-language {
                                min-width: 55px;
                            }
                        }
                    }
                }
            }

            .banner-item {
                .wrapper {
                    .slide-banner {
                        .banner-title {
                            gap: 3px;

                            h1 {
                                font-size: 10px;
                            }

                            p {
                                font-size: 10px;
                            }

                            .btn-link {
                                font-size: 7px;
                            }
                        }
                    }
                }
            }
        }

        .main-info {
            .main-open {
                .main-text {
                    h1 {
                        font-size: 22px;
                    }

                    p {
                        line-height: 1.2;
                        font-size: 10px;
                    }
                }
            }
        }

        .main-inner {
            .main-meta {
                .main-content {
                    .main-block {
                        .main-title {
                            h1 {
                                font-size: 24px;
                            }

                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}