@import url(fonts.css);
@import url(product-media.css);
@import "../css/bootstrap.min.css";
@import "../css/swiper-bundle.min.css";
@import "../css/bootstrap-reboot.min.css";

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

* {
    margin: 0;
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden !important;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

.row,
html {
    font-size: 16px;
}

body {
    background: #ffffff;
    font-family: "Montserrat Medium", sans-serif;
    color: #000;
    overflow-y: scroll;
    box-sizing: border-box;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin: 0;
    font-family: "Roboto Medium", sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 5rem;
    line-height: 5.375rem;
    font-weight: 700;
    margin: 0;
    font-family: "Roboto Bold", sans-serif;
    color: #FFFFFF;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Roboto Bold", sans-serif;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 0.625rem;
}

a {
    color: #FFFFFF;
    text-decoration: none !important;
    line-height: 1.5rem;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }
}

p {
    line-height: 1.625rem;
    margin-bottom: 0;
    font-family: "Montserrat Regural", sans-serif;
}


ul {
    margin: 0;
}

.phone-nav {
    display: none;
    cursor: pointer;

    .lines {
        position: relative;
        top: 0;
        border-radius: 0.188rem;
        width: 1.875rem;
        display: block;
        height: 0.125rem;
        transition: all .3s;
        background: #333;
        transform-origin: center center;
    }
}

.phone-nav .lines {
    position: relative;
    top: 0;
    border-radius: 0.188rem;
    width: 1.875rem;
    display: block;
    height: 0.125rem;
    transition: all .3s;
    background: #333;
    transform-origin: center center;
}

.phone-nav.active .lines:nth-child(1) {
    top: 0.625rem;
    transform: rotate(45deg);
}

.phone-nav .lines:nth-child(2) {
    margin: 0.5rem 0;
}

.phone-nav.active .lines:nth-child(2) {
    opacity: 0;
}

.phone-nav.active .lines:nth-child(3) {
    top: -0.625rem;
    transform: rotate(-45deg);
}

.gdt {
    overflow: auto;
    display: none;
}

.phone-nav-mn.active {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.phone-nav-mn {
    position: absolute;
    top: 80px;
    left: 0;
    pointer-events: none;
    padding: 1.875rem 0 6.25rem;
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: #282a2c;
    z-index: 99;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;

    .phone-item-link {
        display: flex;
        gap: 1.25rem;

        .child-item {
            width: 100%;
            position: absolute;
            /*display: none;*/
            right: -100%;
            padding-left: 1.25rem;
            opacity: 0;
            visibility: hidden;
            z-index: 4;

            .child-item-back:before {
                content: '\3008';
                float: left;
                margin-right: 1em;
            }

            .child-block {
                list-style: none;
                padding-top: 0.563rem;

                .child-inner {
                    display: flex;
                    flex-direction: column;
                    gap: 0.563rem;
                }
            }

            a {
                color: #FFFFFF;
                width: 100%;
                display: block;
                text-align: left;
            }
        }

        .btn-link-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.563rem;
            padding-left: 1.25rem;
            width: 100%;

            .btn-phone {
                color: #FFFFFF;
                padding: 0;
                box-shadow: none;

                &:before {
                    content: '\3009';
                    float: right;
                    margin-left: 1em;
                }
            }

            a {
                color: #FFFFFF;
                display: block;
                width: 100%;
                text-align: left;
            }
        }

        .input-btn-item {
            display: none;
        }
    }
}

.svg-hovered{
    stroke: #152F65
}

.ul-list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    li {
        list-style: none;
        position: relative;
        padding: 0.813rem 0;
        display: block;

        .link-group {
            color: #FFFFFF;
            display: block;
            font-size: 1rem;
        }
    }
}

.ul-list li:hover:before {
    width: 100%;
}

.ul-list li:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 125%;
    width: 0;
    z-index: 15;
    height: 0.063rem;
    background: rgb(21, 47, 101);
    transition: all .5s;
    content: "";
}

.ul-list.scrolled li:before {
    background: rgb(21, 47, 101);
}

.child-main {
    padding: 0.75rem 0;
    display: none;
    position: relative;
    z-index: 3;
    top: 1.313rem;

    a {
        position: relative;
        font-size: 0.75rem;
        z-index: 2;
        color: #000000;
        font-family: "Montserrat Regural", sans-serif;
        line-height: 1.375rem;
        padding: 0.375rem 0;
    }

    .child-flex {
        display: flex;
        flex-direction: column;
        gap: 0.563rem;
    }
}

.child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 21.375rem;
    background: #fff;
    bottom: 0;
}

.child-bg.border-visible {
    border-top: 0.063rem solid rgba(0, 0, 0, 0.1);
}

.child-bg {
    position: absolute;
    width: 10000px;
    height: 100%;
    top: 15px;
    left: -4000px;
    background: #fff;
    pointer-events: none;
    z-index: 1;
}


.slide-banner {
    img {
        width: 100%;
    }
}

.banner-title {
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1 {
        color: #FFFFFF;
        padding-bottom: 0.5rem;
    }

    p {
        color: #FFFFFF;
        line-height: 1.75rem;
        font-size: 1.25rem;
        padding-bottom: 1.5rem;
    }
}

.btn-link {
    width: 100%;
    padding: 0;
    background-color: rgb(21, 47, 101);
    color: #FFFFFF !important;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    border-radius: 0;
    max-width: 12.5rem;
    height: 3.75rem;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        box-shadow: none;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    .header-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.938rem 0;
        height: 5rem;

        a {
            color: #000000 !important;

            svg {
                width: 5.563rem;
                height: 3.125rem;
            }

            svg path {
                fill: rgb(27, 46, 97) !important;
            }

            svg polygon {
                fill: rgb(27, 46, 97) !important;
            }
        }
    }
}

.product-banner {
    .product-block {
        height: 43.75rem;
        cursor: pointer;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        .product-title {
            position: absolute;
            top: 10rem;
            left: 15rem;
            max-width: 36.625rem;
            width: 100%;

            h1 {
                color: #FFFFFF;
            }

            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: #FFFFFF;
                font-family: "Montserrat Regural", sans-serif;
            }
        }
    }
}


.header-search {
    position: relative;

    input {
        border-radius: 0.25rem !important;
        border: transparent;
        outline: none;
        backdrop-filter: blur(1.875rem);
        height: 2.5rem;
        display: block;
        padding: 0.5rem 0.75rem 0.5rem 2.875rem;
        max-width: 13.063rem;
        width: 100%;
        color: #000000 !important;
        background: rgb(255, 255, 255);

        &::placeholder {
            color: #000000;
            font-family: "Montserrat Regural", sans-serif;
            line-height: 1.5rem;
            opacity: 0.5;
            font-size: 1rem;
            position: absolute;
            top: 0.625rem;
            left: 2.875rem;
        }
    }

    svg {
        position: absolute;
        left: 0.75rem;
        top: 0.5rem;
        z-index: 1;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;

        path {
            stroke: #000000;
        }
    }
}

.input-btn {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.btn-item {
    background: #152F65;
    color: #FFFFFF;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: flex-end;
    gap: 0.375rem;
    height: 2.5rem;
    border-radius: 0.25rem;

    &:after {
        content: none;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #152F65;
        color: #FFFFFF;
        box-shadow: none;
    }

    svg {
        opacity: 0.5;
        width: 1.125rem;
        height: 1.125rem;
    }
}

.dropdown-language {
    min-width: 4.375rem;
    text-align: center;
    padding: 0;

    .dropdown-content {
        padding: 0.188rem;
    }
}

.main {
    .main-item {
        padding-top: 1.5rem;
        background: rgba(21, 47, 101, 0.05);

        .banner {
            display: flex;
            align-items: center;
            gap: 3rem;
            height: 43.75rem;

            .banner-img {
                max-width: 41.25rem;
                width: 100%;
                height: 26.25rem;

                .banner-meta {
                    padding: 0 1.25rem;
                    height: 100%;
                    width: 100%;

                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .banner-info {
                padding: 0 1.5rem 1.5rem 1.5rem;
                max-width: 43.25rem;
                width: 100%;

                h1 {
                    font-size: 2rem;
                    line-height: 2.5rem;
                    color: #000000;
                    padding: 0.75rem 0;
                }

                .banner-text {
                    display: flex;
                    flex-direction: column;
                    padding: 0.75rem 0;
                    border-bottom: 0.063rem solid rgba(0, 0, 0, 0.1);

                    p {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        color: #152F65;
                        font-family: "Roboto Bold", sans-serif;
                    }

                    span {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        color: #000000;
                        font-family: "Montserrat Regural", sans-serif;
                    }
                }

                .brochure {
                    padding-top: 1.5rem;
                }
            }
        }
    }

    .comfort {
        padding-top: 1.5rem;

        .comfort-block {
            display: flex;
            align-items: center;

            .comfort-item {
                display: flex;
                align-items: center;
                cursor: pointer;

                .comfort-img {
                    height: 44.375rem;
                    max-width: 44.375rem;
                    width: 100%;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .comfort-title {
                    height: 44.375rem;
                    padding: 2rem 2rem 0 2rem;
                    max-width: 45.625rem;
                    width: 100%;
                    border: 0.063rem solid rgba(21, 47, 101, 0.1);
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    h1 {
                        font-size: 3rem;
                        line-height: 3.5rem;
                        color: #152F65;
                    }

                    p {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                        font-family: "Montserrat Regural", sans-serif;
                        position: relative;
                        color: #152F65;
                        left: 1.875rem;

                        span {
                            position: absolute;
                            width: 0.25rem;
                            height: 0.25rem;
                            border-radius: 100%;
                            left: -1.25rem;
                            background: #152F65;
                        }

                        span:nth-child(1) {
                            top: 0.875rem;
                        }

                        span:nth-child(5) {
                            top: 7.813rem;
                        }

                        span:nth-child(6) {
                            top: 14.938rem;
                        }

                        span:nth-child(10) {
                            top: 20.063rem;
                        }

                        span:nth-child(13) {
                            top: 25.25rem;
                        }
                    }
                }
            }

            .i-comfort {
                width: 100%;

                .swiper-pagination {
                    bottom: 2rem;
                    left: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.75rem;

                    .swiper-pagination-bullet {
                        background-color: #152F65;
                        opacity: 0.5;
                        transition: opacity 1s ease;
                        height: 0.5rem;
                        width: 0.5rem;
                    }

                    .swiper-pagination-bullet-active {
                        width: 3rem;
                        background-color: #152F65;
                        height: 0.5rem;
                        opacity: 1;
                        border-radius: 6.25rem;
                    }
                }
            }
        }
    }

    .comfort-banner {
        padding-top: 1.5rem;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .features {
        padding-top: 6rem;

        .features-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            h1 {
                color: #152F65;
            }

            .features-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .features-info {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    position: relative;
                    max-width: calc(78% - 1.688rem);
                    width: 100%;
                    padding: 1rem 0;
                    border-bottom: 0.063rem solid rgba(0, 0, 0, 0.1);
                    border-top: 0.063rem solid rgba(0, 0, 0, 0.1);
                    justify-content: center;
                    gap: 0.625rem;

                    h6 {
                        font-family: "Montserrat SemiBold", sans-serif;
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                        font-weight: 600;
                    }

                    .features-select {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease;

                        p {
                            font-family: "Montserrat SemiBold", sans-serif;
                            font-size: 0.875rem;
                            line-height: 1.75rem;
                            font-weight: 600;
                        }
                    }

                    .features-arrow {
                        width: 0.875rem;
                        height: 0.875rem;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        z-index: 5;
                    }

                    .features-icon {
                        width: 0.875rem;
                        height: 0.875rem;
                        background: url('/img/arrow-plus.svg') center center no-repeat;
                        transition: background-image 0.5s ease;
                        background-size: 0.875rem;
                    }

                    .features-arrow.active .features-icon {
                        width: 0.875rem;
                        height: 0.875rem;
                        background-image: url('/img/arrow-minus.svg');
                        transition: background-image 0.5s ease;
                        background-size: 0.875rem;
                    }
                }
            }
        }
    }

    .gallery {
        padding-top: 6rem;

        .gallery-block {

            h1 {
                color: #152F65;
                text-align: center;
                padding-bottom: 3rem;
            }

            .i-gallery {
                .gallery-img {
                    max-width: 29rem;
                    width: 100%;
                    height: 29rem;
                    overflow: hidden;

                    img {
                        height: 100%;
                        object-fit: contain;
                        transition: all 1s;
                    }

                    &:hover img {
                        transform: scale(1.05);
                    }
                }

                .swiper-pagination {
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.75rem;

                    .swiper-pagination-bullet {
                        background: rgb(21, 47, 101);
                        opacity: 0.5;
                        transition: opacity 1s ease;
                        height: 0.5rem;
                        width: 0.5rem;
                    }

                    .swiper-pagination-bullet-active {
                        width: 3rem;
                        background-color: #152F65;
                        border-radius: 6.25rem;
                        height: 0.5rem;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .main-open {
        padding-top: 6rem;

        .main-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.75rem;
            padding-bottom: 6rem;

            h1 {
                color: rgb(21, 47, 101);
            }

            p {
                font-size: 2rem;
                font-family: "Montserrat Medium", sans-serif;
            }
        }

        .main-item-h {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            .main-v {
                position: relative;
                overflow: hidden;
                max-width: 29rem;
                width: 100%;
                height: 41.875rem;

                .main-v-img {
                    width: 100%;
                    height: 100%;

                    img {
                        transition: all 1s;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &:hover img {
                        transform: scale(1.05);
                    }
                }
            }

            .title {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                position: absolute;
                bottom: 3rem;
                left: 3rem;
                z-index: 5;

                h1 {
                    font-size: 3rem;
                    line-height: 3.375rem;
                }

                .btn-main {
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    gap: 0.625rem;
                    padding: 0.813rem 0;
                    height: 3.125rem;

                    svg {
                        width: 0.563rem;
                        height: 1rem;
                    }
                }
            }
        }
    }

    .massage {
        position: fixed;
        bottom: 0;
        z-index: 11;
        width: 100%;
        box-shadow: 0 0.75rem 2.125rem 0 rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(48px);
        background: rgba(255, 255, 255, 0.7);
        padding: 0.813rem 0;

        .massage-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            .massage-fixed {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                max-width: 60.438rem;

                h3 {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    color: #000000;
                }

                p {
                    font-family: "Roboto Regural", sans-serif;
                    font-size: 0.875rem;
                    line-height: 1.375rem;
                    color: #000000;
                    opacity: 0.5;
                }
            }

            .massage-download {
                .btn-massage {
                    width: 11.688rem;
                    height: 3.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #152F65;
                    color: #FFFFFF;
                    border-radius: 0;

                    &:focus,
                    &:hover,
                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.footer-meta {
    padding: 5rem 0;
}

.footer {
    background: #0f1438;

    .footer-content {
        padding: 2.25rem 0;
        display: flex;
        flex-direction: column;
        gap: 2.25rem;

        .footer-block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .footer-item {
                display: flex;
                flex-direction: column;
                gap: 0.375rem;
                max-width: 21.375rem;
                width: 100%;

                ul {
                    li {
                        list-style: none;
                        padding: 0.375rem 0;
                        height: 2rem;

                        a {
                            font-size: 0.75rem;
                            font-family: "Montserrat Regural", sans-serif;
                            line-height: 1.25rem;
                            display: block;
                            color: #FFFFFF !important;
                            height: 100%;
                            position: relative;

                            &::after {
                                position: absolute;
                                left: 50%;
                                right: 0;
                                transform: translateX(-50%);
                                bottom: 0;
                                width: 0;
                                height: 0.063rem;
                                background-color: #999;
                                content: "";
                                z-index: 6;
                                transition: width 0.2s cubic-bezier(0.260, 0.005, 0.000, 1.035);
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .footer-social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .phone {
                display: flex;
                align-items: center;
                gap: 3rem;

                .phone-item {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    a {
                        font-family: "Roboto Regural", sans-serif;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        color: #FFFFFF !important;
                    }
                }
            }

            .social-networks {
                display: flex;
                align-items: center;
                gap: 0.938rem;

                a {
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        .foot-license {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: #FFFFFF;
                opacity: 0.5;
                font-size: 0.875rem;
            }
        }
    }
}

.modals {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: none;
    max-width: 44.313rem;
    width: 100%;
    border-radius: 0;

    .modal-block {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .modal-info {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 1.5rem;

            h1 {
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: #000000;
            }

            .modal-text {
                display: flex;
                flex-direction: column;
                border-bottom: 0.063rem solid rgba(0, 0, 0, 0.1);

                p {
                    font-size: 1.25rem;
                    line-height: 1.75;
                    color: #152F65;
                }

                span {
                    font-size: 0.875rem;
                    line-height: 1.375rem;
                    color: #000000;
                }
            }
        }

        .modal-img {
            padding: 4.75rem 1.375rem;

            .modal-meta {
                width: 18.625rem;
                height: 11.875rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .form {
        padding: 1.5rem;
        background: rgba(21, 47, 101, 0.05);

        .form-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.75rem;

            h1 {
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: #000000;
            }

            .form-block {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 0.75rem;

                .form-label {
                    width: 100%;

                    input {
                        padding: 0.688rem 0.75rem;
                        background: rgba(21, 47, 101, 0.1);
                        outline: none;
                        border: none;
                        width: 100%;
                        height: 2.625rem;
                    }

                    input::placeholder {
                        font-size: 0.75rem;
                        color: #000000;
                        line-height: 0.75rem;
                        font-family: "Montserrat Regural", sans-serif;
                        font-weight: 400;
                        opacity: 0.5;
                    }
                }
            }
        }

        .form-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
            padding-top: 1.5rem;

            .btn-form {
                padding: 0.813rem 1.5rem;
                background: #152F65;
                box-shadow: none;
                color: #FFFFFF;
                border-radius: 0;
                height: 3.125rem;
            }

            .btn-form-item {
                padding: 0.813rem 1.5rem;
                background: #FFFFFF;
                box-shadow: none;
                color: #152F65;
                border-radius: 0;
                border: 0.063rem solid rgb(21, 47, 101);
                height: 3.125rem;
            }
        }
    }
}
