@import url(fonts.css);
@import url(product-media.css);
@import "../css/bootstrap.min.css";
@import "../css/swiper-bundle.min.css";
@import "../css/bootstrap-reboot.min.css";

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

* {
    margin: 0;
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden !important;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

.row,
html {
    font-size: 16px;
}

body {
    background: #ffffff;
    font-family: "Montserrat-Medium", sans-serif;
    color: #000;
    overflow-y: scroll;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 0;
}

h3 {
    font-family: "Roboto-Bold", sans-serif;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 0;
    font-family: "Roboto-Medium", sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 80px;
    line-height: 86px;
    font-weight: 700;
    margin: 0;
    font-family: "Roboto-Bold", sans-serif;
    color: #FFFFFF;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none !important;
    line-height: 24px;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }
}

p {
    line-height: 26px;
    margin-bottom: 0;
    font-family: "Roboto-Bold", sans-serif;
}

span {
    font-family: "Montserrat-Regural", sans-serif;
}

ul {
    margin: 0;
}

.phone-nav {
    display: none;
    cursor: pointer;

    .lines {
        position: relative;
        top: 0;
        border-radius: 3px;
        width: 30px;
        display: block;
        height: 2px;
        transition: all .3s;
        background: #333;
        transform-origin: center center;
    }
}

.phone-nav .lines {
    position: relative;
    top: 0;
    border-radius: 3px;
    width: 30px;
    display: block;
    height: 2px;
    transition: all .3s;
    background: #333;
    transform-origin: center center;
}

.phone-nav.active .lines:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.phone-nav .lines:nth-child(2) {
    margin: 8px 0;
}

.phone-nav.active .lines:nth-child(2) {
    opacity: 0;
}

.phone-nav.active .lines:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg);
}

.gdt {
    overflow: auto;
    display: none;
}

.phone-nav-mn.active {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.phone-nav-mn {
    position: absolute;
    top: 80px;
    left: 0;
    pointer-events: none;
    padding: 30px 0 100px;
    width: 100%;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    background-color: #282a2c;
    z-index: 99;
    overflow: scroll;
    opacity: 0;
    transition: all .5s;

    .phone-item-link {
        display: flex;

        .child-item {
            position: absolute;
            z-index: -1;
            display: none;
            padding-left: 20px;

            .child-block {
                list-style: none;
                padding-top: 9px;

                .child-inner {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                }
            }

            a {
                color: #000000;
            }
        }

        .btn-link-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 9px;
            padding-left: 20px;

            .btn-phone {
                color: #FFFFFF;
                padding: 0;
                box-shadow: none;
            }

            a {
                color: #000000;
            }
        }

        .input-btn-item {
            display: none;
        }
    }
}

.ul-list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;

    li {
        list-style: none;
        position: relative;
        padding: 13px 0;

        a {
            color: #000000 ;
        }
    }
}

.ul-list li:hover:before {
    width: 100%;
}

.ul-list.scrolled li:before {
    background: rgb(21, 47, 101);
}

.ul-list li:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 0;
    z-index: 15;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    transition: all .5s;
    content: "";
}

.child-main {
    padding: 12px 0;
    display: none;
    position: relative;
    z-index: 3;
    top: 21px;

    a {
        position: relative;
        font-size: 14px;
        z-index: 2;
        color: #000000;
        font-family: "Roboto-Regural", sans-serif;
        line-height: 22px;
        padding: 6px 0;
    }

    .child-flex {
        display: flex;
        flex-direction: column;
        gap: 9px;

        a {
            color: #000000;
        }
    }
}

.child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 342px;
    background: #fff;
    bottom: 0;
}

.child-bg.border-visible {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.child-bg {
    position: absolute;
    width: 10000px;
    height: 100%;
    top: 15px;
    left: -4000px;
    background: #fff;
    pointer-events: none;
    z-index: 1;
}


.slide-banner {

    img {
        width: 100%;
    }
}

.banner-title {
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1 {
        color: #FFFFFF;
        padding-bottom: 8px;
    }

    p {
        color: #FFFFFF;
        line-height: 28px;
        font-size: 20px;
        padding-bottom: 24px;
    }
}


.btn-link {
    width: 100%;
    padding: 0;
    background-color: rgb(21, 47, 101);
    color: #FFFFFF !important;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 0;
    max-width: 200px;
    height: 60px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        box-shadow: none;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    .header-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;

        a {
            color: #FFFFFF;

            svg {
                width: 89px;
                height: 50px;

                .cls-1 {
                }
            }
        }
    }
}

.product-banner {
    .product-block {
        height: 700px;
        cursor: pointer;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        .product-title {
            position: absolute;
            top: 160px;
            left: 240px;
            max-width: 586px;
            width: 100%;

            h1 {
                color: #FFFFFF;
            }

            p {
                font-size: 20px;
                line-height: 28px;
                color: #FFFFFF;
                font-family: "Montserrat-Regural", sans-serif;
            }
        }
    }
}


.header-search {
    position: relative;

    input {
        border-radius: 4px;
        border: transparent;
        outline: none;
        padding: 8px 12px 8px 46px;
        max-width: 209px;
        width: 100%;
        color: #000000 !important;
        background: rgb(255, 255, 255);
        backdrop-filter: blur(30px);

        &::placeholder {
            color: #000000;
            font-family: "Montserrat-Regural", sans-serif;
            line-height: 24px;
            opacity: 0.5;
        }
    }

    svg {
        position: absolute;
        left: 12px;
        top: 8px;
        z-index: 1;
        cursor: pointer;

        path {
            stroke: #000000;
        }
    }
}

.input-btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-item {
    background: #152F65;
    color: #FFFFFF;
    padding: 8px 12px;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    height: 40px;
    border-radius: 4px;

    &:after {
        content: none;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #152F65;
        color: #FFFFFF;
        box-shadow: none;
    }

    svg {
        opacity: 0.5;
    }
}

.dropdown-language {
    min-width: 70px;
    text-align: center;
    padding: 0;

    .dropdown-content {
        padding: 3px;
    }
}

.main {
    .main-item {
        padding-top: 24px;
        background: rgba(21, 47, 101, 0.05);

        .banner {
            display: flex;
            align-items: center;
            gap: 48px;

            .banner-img {
                .banner-meta {
                    padding: 0 20px;

                    img {
                        object-fit: contain;
                    }
                }
            }

            .banner-info {
                padding: 0 24px 24px 24px;
                max-width: 692px;
                width: 100%;

                h1 {
                    font-size: 32px;
                    line-height: 40px;
                    color: #000000;
                    padding: 12px 0;
                }

                .banner-text {
                    display: flex;
                    flex-direction: column;
                    padding: 12px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    p {
                        font-size: 32px;
                        line-height: 40px;
                        color: #152F65;
                    }

                    span {
                        font-size: 24px;
                        line-height: 32px;
                        color: #000000;
                    }
                }

                .brochure {
                    padding-top: 24px;
                }
            }
        }
    }

    .comfort {
        padding-top: 24px;

        .comfort-block {
            display: flex;
            align-items: center;

            .comfort-item {
                display: flex;
                align-items: center;
                cursor: pointer;

                .comfort-img {
                    height: 710px;
                    max-width: 710px;
                    width: 100%;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .comfort-title {
                    height: 710px;
                    padding: 32px 32px 0 32px;
                    max-width: 730px;
                    width: 100%;
                    border: 1px solid rgba(21, 47, 101, 0.1);
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    h1 {
                        font-size: 48px;
                        line-height: 56px;
                        color: #152F65;
                    }

                    p {
                        font-size: 20px;
                        line-height: 28px;
                        font-family: "Montserrat-Regural", sans-serif;
                        position: relative;
                        color: #152F65;
                        left: 30px;

                        span {
                            position: absolute;
                            width: 4px;
                            height: 4px;
                            border-radius: 100%;
                            left: -20px;
                            background: #152F65;
                        }

                        span:nth-child(1) {
                            top: 14px;
                        }

                        span:nth-child(5) {
                            top: 125px;
                        }

                        span:nth-child(6) {
                            top: 239px;
                        }

                        span:nth-child(10) {
                            top: 321px;
                        }

                        span:nth-child(13) {
                            top: 404px;
                        }
                    }
                }
            }

            .i-comfort {
                width: 100%;

                .swiper-pagination {
                    bottom: 32px;
                    left: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                }
            }
        }
    }

    .comfort-banner {
        padding-top: 24px;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .features {
        padding-top: 96px;

        .features-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;

            h1 {
                color: #152F65;
            }

            .features-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .features-info {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    position: relative;
                    max-width: calc(78% - 27px);
                    width: 100%;
                    padding: 16px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    justify-content: center;
                    gap: 10px;

                    h6 {
                        font-family: "Montserrat-SemiBold", sans-serif;
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 600;
                    }

                    .features-select {
                        display: none;

                        p {
                            font-family: "Montserrat-SemiBold", sans-serif;
                            font-size: 14px;
                            line-height: 28px;
                            font-weight: 600;
                        }
                    }

                    .features-arrow {
                        width: 14px;
                        height: 14px;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        z-index: 5;
                    }

                    .features-icon {
                        width: 14px;
                        height: 14px;
                        background: url('/img/arrow-plus.svg') center center no-repeat;
                        transition: background-image 0.5s ease;
                    }

                    .features-arrow.active .features-icon {
                        width: 14px;
                        height: 14px;
                        background-image: url('/img/arrow-minus.svg');
                        transition: background-image 0.5s ease;
                    }
                }
            }
        }
    }

    .gallery {
        padding-top: 96px;

        .gallery-block {

            h1 {
                color: #152F65;
                text-align: center;
                padding-bottom: 48px;
            }

            .i-gallery {
                .gallery-img {
                    max-width: 464px;
                    width: 100%;
                    height: 464px;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .swiper-pagination {
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                }
            }
        }
    }

    .main-open {
        padding-top: 96px;

        .main-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            padding-bottom: 96px;

            h1 {
                color: rgb(21, 47, 101);
            }

            p {
                font-size: 32px;
                font-family: "Montserrat-Medium", sans-serif;
            }
        }

        .main-item-h {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            .main-v {
                position: relative;
            }

            .title {
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: absolute;
                bottom: 48px;
                left: 48px;
                z-index: 5;

                h1 {
                    font-size: 48px;
                    line-height: 54px;
                }

                .btn-main {
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 13px 0;
                    height: 50px;
                }
            }
        }
    }

    .massage {
        position: fixed;
        bottom: 0;
        z-index: 11;
        width: 100%;
        box-shadow: 0px -12px 34px 0px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(48px);
        background: rgba(255, 255, 255, 0.7);
        padding: 13px 0;

        .massage-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            .massage-fixed {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                max-width: 967px;

                h3 {
                    font-size: 20px;
                    line-height: 28px;
                    color: #000000;
                }

                p {
                    font-family: "Roboto-Regural", sans-serif;
                    font-size: 14px;
                    line-height: 22px;
                    color: #000000;
                }
            }

            .massage-download {
                .btn-massage {
                    width: 187px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #152F65;
                    color: #FFFFFF;
                    border-radius: 0;

                    &:focus,
                    &:hover,
                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.footer-meta {
    padding: 80px 0;
}

.footer {
    background: #0f1438;

    .footer-content {
        padding: 36px 0;
        display: flex;
        flex-direction: column;
        gap: 36px;

        .footer-block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .footer-item {
                display: flex;
                flex-direction: column;
                gap: 6px;
                max-width: 342px;
                width: 100%;

                h2 {
                    font-weight: 500;
                }

                ul {
                    li {
                        list-style: none;
                        padding: 6px 0;

                        a {
                            font-size: 12px;
                            font-family: "Montserrat-Regural", sans-serif;
                            line-height: 20px;
                            color: #FFFFFF !important;
                        }
                    }
                }
            }
        }

        .footer-social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .phone {
                display: flex;
                align-items: center;
                gap: 48px;

                .phone-item {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    a {
                        font-family: "Roboto-Regural", sans-serif;
                        font-size: 24px;
                        line-height: 32px;
                        color: #FFFFFF !important;
                    }
                }
            }

            .social-networks {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        .foot-license {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: #FFFFFF;
                opacity: 0.5;
                font-size: 14px;
            }
        }
    }
}

.modals {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: none;
    max-width: 709px;
    width: 100%;
    border-radius: 0;

    .modal-block {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .modal-info {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 24px;

            h1 {
                font-size: 20px;
                line-height: 28px;
                color: #000000;
            }

            .modal-text {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                p {
                    font-size: 20px;
                    line-height: 28px;
                    color: #152F65;
                }

                span {
                    font-size: 14px;
                    line-height: 22px;
                    color: #000000;
                }
            }
        }

        .modal-img {
            padding: 76px 22px;
            .modal-meta {
                width: 298px;
                height: 190px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .form {
        padding: 24px;
        background: rgba(21, 47, 101, 0.05);

        .form-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            h1 {
                font-size: 20px;
                line-height: 28px;
                color: #000000;
            }

            .form-block {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 12px;

                .form-label {
                    width: 100%;

                    input {
                        padding: 11px 12px;
                        background: rgba(21, 47, 101, 0.1);
                        outline: none;
                        border: none;
                        width: 100%;
                        height: 42px;
                    }

                    input::placeholder {
                        font-size: 12px;
                        color: #000000;
                        line-height: 12px;
                        font-family: "Montserrat-Regural", sans-serif;
                        font-weight: 400;
                        opacity: 0.5;
                    }
                }
            }
        }

        .form-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding-top: 24px;

            .btn-form {
                padding: 13px 24px;
                background: #152F65;
                box-shadow: none;
                color: #FFFFFF;
                border-radius: 0;
                height: 50px;
            }

            .btn-form-item {
                padding: 13px 24px;
                background: #FFFFFF;
                box-shadow: none;
                color: #152F65;
                border-radius: 0;
                border: 1px solid rgb(21, 47, 101);
                height: 50px;
            }
        }
    }
}
