@media (min-width: 2020px) {
    html, body {
        font-size: 1.125rem !important;
    }
}

@media (min-width: 2120px) {
    html, body {
        font-size: 1.188rem !important;
    }
}

@media (min-width: 2220px) {
    html, body {
        font-size: 1.25rem !important;
    }
}

@media (min-width: 2320px) {
    html, body {
        font-size: 1.313rem !important;
    }
}

@media (min-width: 2420px) {
    html, body {
        font-size: 1.375rem !important;
    }
}

@media (min-width: 2520px) {
    html, body {
        font-size: 1.438rem !important;
    }
}

@media (min-width: 2620px) {
    html, body {
        font-size: 1.5rem !important;
    }
}

@media (min-width: 2720px) {
    html, body {
        font-size: 1.563rem !important;
    }
}

@media (min-width: 2820px) {
    html, body {
        font-size: 1.625rem !important;
    }
}

@media (min-width: 2920px) {
    html, body {
        font-size: 1.688rem !important;
    }
}

@media (min-width: 3020px) {
    html, body {
        font-size: 1.75rem !important;
    }
}

@media (min-width: 3120px) {
    html, body {
        font-size: 1.813rem !important;
    }
}

@media (min-width: 3220px) {
    html, body {
        font-size: 1.875rem !important;
    }
}

@media (min-width: 3320px) {
    html, body {
        font-size: 1.938rem !important;
    }
}

@media (min-width: 3420px) {
    html, body {
        font-size: 2rem !important;
    }
}

@media (min-width: 3520px) {
    html, body {
        font-size: 2.063rem !important;
    }
}

@media (min-width: 3620px) {
    html {
        font-size: 2.125rem !important;
    }
}

@media (min-width: 3720px) {
    html, body {
        font-size: 2.188rem !important;
    }
}

@media (min-width: 3820px) {
    html, body {
        font-size: 2.25rem !important;
    }
}

@media (min-width: 3920px) {
    html, body {
        font-size: 2.313rem !important;
    }
}

@media (min-width: 4020px) {
    html, body {
        font-size: 2.375rem !important;
    }
}

@media (min-width: 4120px) {
    html, body {
        font-size: 2.438rem !important;
    }
}

@media (min-width: 4220px) {
    html, body {
        font-size: 2.5rem !important;
    }
}

@media (min-width: 4320px) {
    html, body {
        font-size: 2.563rem !important;
    }
}

@media (min-width: 4420px) {
    html, body {
        font-size: 2.625rem !important;
    }
}

@media (min-width: 4520px) {
    html, body {
        font-size: 2.688rem !important;
    }
}

@media (min-width: 4620px) {
    html, body {
        font-size: 2.75rem !important;
    }
}

@media (min-width: 4720px) {
    html, body {
        font-size: 2.813rem !important;
    }
}

@media (min-width: 4820px) {
    html, body {
        font-size: 2.875rem !important;
    }
}

@media (min-width: 4920px) {
    html, body {
        font-size: 2.938rem !important;
    }
}

@media (min-width: 5020px) {
    html, body {
        font-size: 3rem !important;
    }
}

@media (min-width: 5120px) {
    html, body {
        font-size: 3.063rem !important;
    }
}

@media (min-width: 5220px) {
    html, body {
        font-size: 3.125rem !important;
    }
}

@media (min-width: 5320px) {
    html, body {
        font-size: 3.188rem !important;
    }
}

@media (min-width: 5420px) {
    html, body {
        font-size: 3.25rem !important;
    }
}

@media (min-width: 5620px) {
    html, body {
        font-size: 3.313rem !important;
    }
}

@media (min-width: 5720px) {
    html, body {
        font-size: 3.375rem !important;
    }
}

@media (min-width: 5820px) {
    html, body {
        font-size: 3.438rem !important;
    }
}

@media (min-width: 5920px) {
    html, body {
        font-size: 3.5rem !important;
    }
}

@media (min-width: 6020px) {
    html, body {
        font-size: 3.563rem !important;
    }
}

@media (min-width: 6120px) {
    html, body {
        font-size: 3.625rem !important;
    }
}

@media (min-width: 6220px) {
    html, body {
        font-size: 3.688rem !important;
    }
}

@media (min-width: 6320px) {
    html, body {
        font-size: 3.75rem !important;
    }
}

@media (min-width: 6420px) {
    html, body {
        font-size: 3.813rem !important;
    }
}

@media (min-width: 6520px) {
    html, body {
        font-size: 3.875rem !important;
    }
}

@media (min-width: 6620px) {
    html, body {
        font-size: 3.938rem !important;
    }
}

@media (min-width: 6720px) {
    html, body {
        font-size: 4rem !important;
    }
}

@media (min-width: 6800px) {
    html {
        font-size: 4.063rem !important;
    }
}

@media (max-width: 1440px) {
    .container {
        padding: 0 0.75rem !important;
    }

    .content {
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .header {
        .header-item {
            position: relative;
            gap: 1.25rem;

            .phone-nav {
                display: block;
            }

            .ul-list {
                display: none;
            }

            .input-btn {
                width: 100%;
                justify-content: flex-end;
            }

            .phone-nav {
                right: 0.938rem;
            }
        }

        .phone-nav-mn {
            pointer-events: auto;
            height: calc(100vh);
            top: 4.25rem;
        }
    }

    .main {
        .main-title {
            p br {
                display: none;
            }
        }

        .main-item {
            .main-text {
                h1 {
                    font-size: 3.438rem;
                    line-height: 1.2;
                }

                p br {
                    display: none;
                }
            }
        }
    }

    .footer-meta {
        .footer {
            .footer-content {
                .footer-block {
                    .footer-item {
                        h2 {
                            font-size: 1.813rem;
                        }

                        ul {
                            li {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .content {
        overflow: hidden;

        .header {
            .header-item {
                .header-item-img {
                    svg {
                        height: 2.5rem;
                        width: auto;
                    }
                }
            }
        }

        main {
            .main {
                padding-top: 3.125rem;

                .main-title {
                    padding-bottom: 3.125rem;
                }

                .main-item {
                    height: 19.375rem;

                    .main-text {
                        max-width: none;
                        top: 4.063rem;
                        left: 0;

                        h1 {
                            font-size: 3rem;
                            line-height: 1.2;
                        }

                        p {
                            font-size: 1rem;
                            line-height: 1.2;
                        }
                    }
                }
            }

            .main-decision {
                padding-top: 3.125rem;
            }
        }
    }



    .footer-meta {
        .footer {
            .footer-content {
                .footer-social {
                    flex-wrap: wrap;
                    gap: 0.625rem;

                    .phone {
                        .phone-item {
                            a {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }

                .footer-block {
                    .footer-item {
                        max-width: none;

                        h2 {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .content {
        .header {
            .header-item {
                .phone-nav {
                    .lines {
                        width: 1.563rem;
                    }
                }
            }
        }

        .banner {
            height: 25rem;

            img {
                height: 100%;
                object-fit: cover;
                object-position: 40%;
            }
        }

        main {
            .main {
                .main-title {
                    h1 {
                        font-size: 3rem;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.2;
                    }
                }

                .main-item {
                    height: 27.5rem;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    .main-text {
                        display: flex;
                        flex-direction: column;
                        gap: 0.313rem;
                        top: 5rem;

                        h1 {
                            font-size: 2.375rem;
                            text-align: center;
                            line-height: 1.2;
                        }

                        p {
                            font-size: 1rem;
                            line-height: 1.2;
                        }
                    }
                }
            }

            .main-decision {
                .main-meta {
                    h1 {
                        font-size: 3rem;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.2;
                    }

                    p br {
                        display: none;
                    }
                }
            }
        }
    }

    .footer-meta {
        padding-top: 3.125rem !important;

        .footer {
            .footer-content {
                .footer-block {
                    flex-direction: column;
                    gap: 0.938rem;

                    .footer-item {
                        border-bottom: 0.063rem solid rgb(255 255 255);
                    }
                }

                .footer-social {
                    .phone {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.625rem;
                    }
                }

                .foot-license {
                    flex-direction: column;
                    gap: 0.625rem;
                }
            }
        }
    }
}

@media (max-width: 376px) {
    .content {
        .header {
            .header-item {
                padding: 0.625rem 0;
            }
        }

        main {
            .main {
                .main-title {
                    h1 {
                        font-size: 2.5rem;
                    }
                }

                .main-item {
                    .main-text {
                        h1 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 0.875rem;
                        }
                    }
                }
            }

            .main-decision {
                .main-meta {
                    h1 {
                        font-size: 2.5rem;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .content {
        .header {
            .header-item {
                gap: 0.313rem;

                .input-btn {
                    .dropdown {
                        .btn-item {
                            padding: 0.5rem 0.313rem;
                        }

                        .dropdown-language {
                            min-width: 3.438rem;
                        }
                    }
                }
            }
        }

        main {
            .main {
                .main-title {
                    h1 {
                        font-size: 2.188rem;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }

                .main-item {
                    .main-text {
                        h1 {
                            font-size: 1.875rem;
                        }

                        p {
                            font-size: 0.875rem;
                        }
                    }
                }
            }

            .main-decision {
                .main-meta {
                    h1 {
                        font-size: 2.188rem;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}