@import url(fonts.css);
@import url(media.css);
@import "../css/bootstrap.min.css";
@import "../css/swiper-bundle.min.css";
@import "../css/bootstrap-reboot.min.css";

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

* {
    margin: 0;
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden !important;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

.row,
html {
    font-size: 16px;
}

body {
    background: #ffffff;
    font-family: "Montserrat-Medium", sans-serif;
    color: #000;
    overflow-y: scroll;
    box-sizing: border-box;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 0;
    font-family: "Roboto-Medium", sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 80px;
    line-height: 86px;
    font-weight: 700;
    margin: 0;
    font-family: "Roboto-Bold", sans-serif;
    color: #FFFFFF;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none !important;
    line-height: 24px;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }
}

p {
    line-height: 26px;
    margin-bottom: 0;
    font-family: "Montserrat-Regural", sans-serif;
}


ul {
    margin: 0;
}

.phone-nav {
    display: none;
    cursor: pointer;

    .lines {
        position: relative;
        top: 0;
        border-radius: 3px;
        width: 30px;
        display: block;
        height: 2px;
        transition: all .3s;
        background: #333;
        transform-origin: center center;
    }
}

.phone-nav .lines {
    position: relative;
    top: 0;
    border-radius: 3px;
    width: 30px;
    display: block;
    height: 2px;
    transition: all .3s;
    background: #333;
    transform-origin: center center;
}

.phone-nav.active .lines:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.phone-nav .lines:nth-child(2) {
    margin: 8px 0;
}

.phone-nav.active .lines:nth-child(2) {
    opacity: 0;
}

.phone-nav.active .lines:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg);
}

.gdt {
    overflow: auto;
    display: none;
}

.phone-nav-mn.active {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.phone-nav-mn {
    position: absolute;
    top: 80px;
    left: 0;
    pointer-events: none;
    padding: 30px 0 100px;
    width: 100%;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    background-color: #282a2c;
    z-index: 99;
    overflow: scroll;
    opacity: 0;
    transition: all .5s;

    .phone-item-link {
        display: flex;

        .child-item {
            position: absolute;
            z-index: -1;
            display: none;
            padding-left: 20px;

            .child-block {
                list-style: none;
                padding-top: 9px;

                .child-inner {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                }
            }

            a {
                color: #FFFFFF;
            }
        }

        .btn-link-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 9px;
            padding-left: 20px;

            .btn-phone {
                color: #FFFFFF;
                padding: 0;
                box-shadow: none;
            }
        }

        .input-btn-item {
            display: none;
        }
    }
}

.ul-list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;

    li {
        list-style: none;
        position: relative;
        padding: 13px 0;

        .link-group {
            color: #FFFFFF;
        }
    }
}

.ul-list li:hover:before {
    width: 100%;
}

.ul-list li:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 0;
    z-index: 15;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    transition: all .5s;
    content: "";
}

.ul-list.scrolled li:before {
    background: rgb(21, 47, 101);
}

.child-main {
    padding: 12px 0;
    display: none;
    position: relative;
    z-index: 3;
    top: 21px;

    a {
        position: relative;
        font-size: 14px;
        z-index: 2;
        color: #000000;
        font-family: "Montserrat-Regural", sans-serif;
        line-height: 22px;
        padding: 6px 0;
    }

    .child-flex {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
}

.child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 342px;
    background: #fff;
    bottom: 0;
}

.child-bg.border-visible {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.child-bg {
    position: absolute;
    width: 10000px;
    height: 100%;
    top: 15px;
    left: -4000px;
    background: #fff;
    pointer-events: none;
    z-index: 1;
}


.slide-banner {

    img {
        width: 100%;
    }
}

.wrapper {
}

.banner-text {
    position: absolute;
    left: 240px;
    top: 181px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 598px;
    width: 100%;

    .banner-title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h1 {
            color: #FFFFFF;
        }

        p {
            color: #FFFFFF;
            line-height: 28px;
            font-size: 20px;
            font-family: "Montserrat-Regural", sans-serif;
        }
    }
}


.btn-link {
    max-width: 171px;
    width: 100%;
    padding: 13px 20px;
    background-color: rgb(21, 47, 101);
    color: #FFFFFF;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0;
    height: 50px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    .header-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;

        a {
            svg {
                width: 89px;
                height: 50px;
            }
        }
    }
}


.header-search {
    position: relative;

    input {
        border-radius: 4px;
        border: transparent;
        outline: none;
        background: rgba(255, 255, 255, 0.1);
        padding: 8px 12px 8px 46px;
        max-width: 209px;
        width: 100%;
        backdrop-filter: blur(30px);
    }

    input::-webkit-input-placeholder {
        font-family: "Montserrat-Regural", sans-serif;
        line-height: 24px;
        opacity: 0.5;
        color: #FFFFFF;
        font-weight: 400;
    }

    input[data-placeholder-color="black"]::placeholder {
        color: #000000;
    }

    svg {
        position: absolute;
        left: 12px;
        top: 8px;
        z-index: 1;
        cursor: pointer;
    }
}

.input-btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-item {
    background: #152F65;
    color: #FFFFFF;
    padding: 8px 12px;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    height: 40px;
    border-radius: 4px;

    &:after {
        content: none;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #152F65;
        color: #FFFFFF;
        box-shadow: none;
    }

    svg {
        opacity: 0.5;
    }
}

.dropdown-language {
    min-width: 70px;
    text-align: center;
    padding: 0;

    .dropdown-content {
        padding: 3px;
    }
}

.swiper-pagination-item {
    position: absolute !important;
    bottom: 48px;
    padding-top: 0 !important;
    width: auto !important;
    left: 240px;

    .swiper-pagination-bullet {
        background: #FFFFFF;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        background-color: #FFFFFF !important;
        opacity: 1;
    }
}

.main-meta {
    padding: 24px 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .main-block {
        position: relative;

        .main-wrapper {
            position: absolute;
            left: 48px;
            top: 48px;
            display: flex;
            flex-direction: column;


            .main-title {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h1 {
                    font-size: 48px;
                    line-height: 54px;
                    color: #FFFFFF;
                }

                p {
                    font-size: 20px;
                    line-height: 28px;
                    color: #FFFFFF;
                    font-family: "Montserrat-Regural", sans-serif;
                }
            }
        }
    }
}

.main-solution {
    .solution-block {
        background: url("/img/Solution.png") no-repeat center / cover fixed;
        height: 708px;
        position: relative;

        .main-solution-wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 660px;
            width: 100%;
            position: absolute;
            left: 48px;
            bottom: 48px;

            .main-solution-wrapper-title {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            p {
                color: #FFFFFF;
            }

            h1 {
                font-size: 80px;
                line-height: 86px;
                color: #FFFFFF;
            }
        }
    }
}

.btn-main {
    display: flex;
    max-width: 131px;
    width: 100%;
    align-items: center;
    gap: 10px;
    color: #FFFFFF !important;
    padding: 13px 0;
    box-shadow: none !important;
    height: 50px;
}


h1 {
    font-size: 80px;
    line-height: 86px;
}

p {
    font-size: 32px;
    line-height: 40px;
    font-family: "Montserrat-Medium", sans-serif;
}

.btn-solution {
    max-width: 171px;
    width: 100%;
    padding: 13px 20px;
    background-color: rgb(21, 47, 101);
    color: #FFFFFF;
    box-shadow: none;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0;
}

iframe {
    display: block;
}

.i-video {
    padding-top: 24px;
}

.swiper-container {
    .swiper-slide {
        width: 1195px;
        pointer-events: none;

        .swiper-video {
            cursor: pointer;
            display: block;
        }
    }

    .swiper-slide-active {
        pointer-events: auto;
    }

    .swiper-pagination {
        width: 100%;
        position: inherit;
        display: flex;
        justify-content: center;
        gap: 12px;
        padding-top: 24px;
    }

    .swiper-pagination-bullet-active {
        width: 48px;
        border-radius: 100px;
        background-color: rgb(21, 47, 101);
    }
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video {
    position: relative;
    display: inline-block;

    iframe {
        width: 100%;
        height: 100%;
        display: none;
    }

    .bf {
        z-index: 9;
        cursor: pointer;
    }

    .play {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 2;

        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.btn-decisions-one {
    max-width: 286px;
    width: 100%;
    gap: 15px;
}

.btn-decisions-two {
    max-width: 227px;
    width: 100%;
    gap: 15px;
}

.btn-decisions-three{
    max-width: 204px;
    width: 100%;
    gap: 15px;
}

.main-open {
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding-top: 96px;

    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        h1 {
            color: rgb(21, 47, 101);
        }

        p {
            font-size: 32px;
            font-family: "Montserrat-Medium", sans-serif;
            line-height: 40px;
        }
    }

    .main-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        .main-v {
            position: relative;
        }

        .title {
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            bottom: 48px;
            left: 48px;
            z-index: 5;
            width: 100%;

            h1 {
                font-size: 48px;
                line-height: 54px;
            }
        }
    }
}

.footer-meta {
    padding-top: 96px;
}

.footer {
    background: #0f1438;

    .footer-content {
        padding: 36px 0;
        display: flex;
        flex-direction: column;
        gap: 36px;

        .footer-block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .footer-item {
                display: flex;
                flex-direction: column;
                gap: 6px;
                max-width: 342px;
                width: 100%;

                ul {
                    li {
                        list-style: none;
                        padding: 6px 0;

                        a {
                            font-size: 12px;
                            font-family: "Montserrat-Regural", sans-serif;
                            line-height: 20px;
                            color: #FFFFFF !important;
                        }
                    }
                }
            }
        }

        .footer-social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .phone {
                display: flex;
                align-items: center;
                gap: 48px;

                .phone-item {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    a {
                        font-family: "Roboto-Regural", sans-serif;
                        font-size: 24px;
                        line-height: 32px;
                        color: #FFFFFF !important;
                    }
                }
            }

            .social-networks {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        .foot-license {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: #FFFFFF;
                opacity: 0.5;
                font-size: 14px;
            }
        }
    }
}
