@import url(fonts.css);
@import url(media.css);
@import "../css/bootstrap.min.css";
@import "../css/swiper-bundle.min.css";
@import "../css/bootstrap-reboot.min.css";

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

* {
    margin: 0;
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden !important;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

body {
    background: #ffffff;
    font-family: "Montserrat Medium", sans-serif;
    color: #000;
    overflow-y: scroll;
    box-sizing: border-box;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin: 0;
    font-family: "Roboto Medium", sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 5rem;
    line-height: 5.375rem;
    font-weight: 700;
    margin: 0;
    font-family: "Roboto Bold", sans-serif;
    color: #FFFFFF;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 0.625rem;
}

a {
    color: #FFFFFF;
    text-decoration: none !important;
    line-height: 1.5rem;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }
}

p {
    line-height: 1.625rem;
    margin-bottom: 0;
    font-family: "Montserrat Regural", sans-serif;
}


ul {
    margin: 0;
}

.phone-nav {
    display: none;
    cursor: pointer;

    .lines {
        position: relative;
        top: 0;
        border-radius: 0.188rem;
        width: 1.875rem;
        display: block;
        height: 0.125rem;
        transition: all .3s;
        background: #333;
        transform-origin: center center;
    }
}

.phone-nav .lines {
    position: relative;
    top: 0;
    border-radius: 0.188rem;
    width: 1.875rem;
    display: block;
    height: 0.125rem;
    transition: all .3s;
    background: #333;
    transform-origin: center center;
}

.phone-nav.active .lines:nth-child(1) {
    top: 0.625rem;
    transform: rotate(45deg);
}

.phone-nav .lines:nth-child(2) {
    margin: 0.5rem 0;
}

.phone-nav.active .lines:nth-child(2) {
    opacity: 0;
}

.phone-nav.active .lines:nth-child(3) {
    top: -0.625rem;
    transform: rotate(-45deg);
}

.gdt {
    overflow: auto;
    display: none;
}

.phone-nav-mn.active {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.phone-nav-mn {
    position: absolute;
    top: 80px;
    left: 0;
    pointer-events: none;
    padding: 1.875rem 0 6.25rem;
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: #282a2c;
    z-index: 99;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;

    .phone-item-link {
        display: flex;
        gap: 1.25rem;

        .child-item {
            width: 100%;
            position: absolute;
            /*display: none;*/
            right: -100%;
            padding-left: 1.25rem;
            opacity: 0;
            visibility: hidden;
            z-index: 4;

            .child-item-back:before {
                content: '\3008';
                float: left;
                margin-right: 1em;
            }

            .child-block {
                list-style: none;
                padding-top: 0.563rem;

                .child-inner {
                    display: flex;
                    flex-direction: column;
                    gap: 0.563rem;
                }
            }

            a {
                color: #FFFFFF;
                width: 100%;
                display: block;
                text-align: left;
            }
        }

        .btn-link-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.563rem;
            padding-left: 1.25rem;
            width: 100%;

            .btn-phone {
                color: #FFFFFF;
                padding: 0;
                box-shadow: none;

                &:before {
                    content: '\3009';
                    float: right;
                    margin-left: 1em;
                }
            }

            a {
                color: #FFFFFF;
                display: block;
                width: 100%;
                text-align: left;
            }
        }

        .input-btn-item {
            display: none;
        }
    }
}

.svg-hovered{
    stroke: #152F65
}

.ul-list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    li {
        list-style: none;
        position: relative;
        padding: 0.813rem 0;
        display: block;

        .link-group {
            color: #FFFFFF;
            display: block;
            font-size: 1rem;
        }
    }
}

.ul-list li:hover:before {
    width: 100%;
}

.ul-list li:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 125%;
    width: 0;
    z-index: 15;
    height: 0.063rem;
    background: rgb(21, 47, 101);
    transition: all .5s;
    content: "";
}

.ul-list.scrolled li:before {
    background: rgb(21, 47, 101);
}

.child-main {
    padding: 0.75rem 0;
    display: none;
    position: relative;
    z-index: 3;
    top: 1.313rem;

    a {
        position: relative;
        font-size: 0.75rem;
        z-index: 2;
        color: #000000;
        font-family: "Montserrat Regural", sans-serif;
        line-height: 1.375rem;
        padding: 0.375rem 0;
    }

    .child-flex {
        display: flex;
        flex-direction: column;
        gap: 0.563rem;
    }
}

.child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 21.375rem;
    background: #fff;
    bottom: 0;
}

.child-bg.border-visible {
    border-top: 0.063rem solid rgba(0, 0, 0, 0.1);
}

.child-bg {
    position: absolute;
    width: 10000px;
    height: 100%;
    top: 15px;
    left: -4000px;
    background: #fff;
    pointer-events: none;
    z-index: 1;
}

.slide-item {
    height: 100%;

    .container {
        height: 100%;
    }
}

.slide-banner {
    position: relative;
    height: 43.75rem;

    .slide-blackout {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(39, 39, 39, .1);
        z-index: 1;
    }

    img {
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

.banner-item {
    .swipe-pagination {
        bottom: 3rem;
        left: 7.813rem;
        display: flex;
        gap: 0.75rem;
        align-items: center;
    }

    .swiper-pagination-bullet {
        opacity: 0.5;
        background: rgb(255, 255, 255);
        transition: opacity 1s ease;
        height: 0.5rem;
        width: 0.5rem;
    }

    .swiper-pagination-bullet-active {
        background-color: #FFFFFF !important;
        opacity: 1;
        width: 3rem;
        border-radius: 6.25rem;
        height: 0.5rem
    }
}


.banner-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 4;

    h1 {
        color: #FFFFFF;
        display: block;
        padding-bottom: 0.5rem;
    }

    p {
        color: #FFFFFF;
        line-height: 1.75rem;
        font-size: 1.25rem;
        font-family: "Montserrat Regural", sans-serif;
        padding-bottom: 1.5rem;
        display: block;
    }
}


.btn-link {
    max-width: 10.688rem;
    width: 100%;
    padding: 0.813rem 1.25rem;
    background-color: rgb(21, 47, 101);
    color: #FFFFFF;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border-radius: 0;
    height: 3.125rem;
    font-size: 1rem;

    svg {
        width: 0.563rem;
        height: 1rem;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        box-shadow: none;
        color: #FFFFFF;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    .header-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.938rem 0;
        height: 5rem;

        a {
            svg {
                width: 5.563rem;
                height: 3.125rem;
            }
        }
    }
}

.header-search {
    position: relative;
    margin: 0;

    input {
        border-radius: 0.25rem;
        border: transparent;
        backdrop-filter: blur(1.875rem);
        outline: none;
        height: 2.5rem;
        display: block;
        padding: 0.5rem 0.75rem 0.5rem 2.875rem;
        max-width: 13.063rem;
        width: 100%;
        font-size: 1rem;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.1);
    }

    input::-webkit-input-placeholder {
        font-family: "Montserrat Regural", sans-serif;
        line-height: 1.5rem;
        opacity: 0.5;
        color: #FFFFFF;
        font-weight: 400;
        position: absolute;
        top: 0.625rem;
        left: 2.875rem;
        font-size: 1rem;
    }

    input[data-placeholder-color="black"]::placeholder {
        color: #000000;
    }

    svg {
        position: absolute;
        left: 0.75rem;
        top: 0.5rem;
        z-index: 1;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.input-btn {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.btn-item {
    background: #152F65;
    color: #FFFFFF;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: flex-end;
    gap: 0.375rem;
    height: 2.5rem;
    border-radius: 0.25rem;

    &:after {
        content: none;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #152F65;
        color: #FFFFFF;
        box-shadow: none;
    }

    svg {
        opacity: 0.5;
        width: 1.125rem;
        height: 1.125rem;
    }
}

.dropdown-language {
    min-width: 4.375rem;
    text-align: center;
    padding: 0;

    .dropdown-content {
        padding: 0.188rem;
    }
}

.swiper-pagination-item {
    position: initial !important;
    padding-top: 24px !important;
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    .swiper-pagination-bullet {
        background: rgb(21, 47, 101);
        opacity: 0.3;
        transition: opacity 1s ease;
    }

    .swiper-pagination-bullet-active {
        background-color: #152F65;
        opacity: 1;
    }
}

.main-meta {
    padding: 1.5rem 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .main-block {
        position: relative;
        overflow: hidden;

        .block-blackout {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(39, 39, 39, .1);
            z-index: 1;
        }

        .main-img {
            transition: all 1s;
            max-width: 44.25rem;
            width: 100%;
            height: 44.25rem;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        .main-wrapper {
            position: absolute;
            left: 3rem;
            top: 3rem;
            display: flex;
            flex-direction: column;
            z-index: 4;

            .main-title {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                h1 {
                    font-size: 3rem;
                    line-height: 3.375rem;
                    color: #FFFFFF;
                }

                p {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    color: #FFFFFF;
                    font-family: "Montserrat Regural", sans-serif;
                }
            }
        }
    }
}

.main-solution {
    .solution-block {
        background: url("/img/Solution.png") no-repeat center / cover fixed;
        height: 44.25rem;
        position: relative;

        .solution-blackout {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(39, 39, 39, .1);
            z-index: 1;
        }

        .main-solution-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 41.25rem;
            width: 100%;
            position: absolute;
            left: 3rem;
            bottom: 3rem;
            z-index: 4;

            .main-solution-wrapper-title {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }

            p {
                color: #FFFFFF;
            }

            h1 {
                font-size: 5rem;
                line-height: 5.375rem;
                color: #FFFFFF;
            }
        }
    }
}

.btn-main {
    display: flex;
    max-width: 8.188rem;
    width: 100%;
    align-items: center;
    gap: 0.625rem;
    color: #FFFFFF !important;
    padding: 0.813rem 0;
    box-shadow: none !important;
    height: 3.125rem;

    svg {
        width: 0.563rem;
        height: 1rem;
    }
}


h1 {
    font-size: 5rem;
    line-height: 5.375rem;
}

p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: "Montserrat Medium", sans-serif;
}

.btn-solution {
    max-width: 10.688rem;
    width: 100%;
    padding: 0.813rem 1.25rem;
    background-color: rgb(21, 47, 101);
    color: #FFFFFF;
    box-shadow: none;
    height: 3.125rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border-radius: 0;

    svg {
        width: 0.563rem;
        height: 1rem;
    }
}

iframe {
    display: block;
}

.i-video {
    padding-top: 1.5rem;
}

.swiper-container {
    .swiper-slide {
        width: 74.688rem;
        pointer-events: none;
        position: relative;

        .swiper-blackout {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(39, 39, 39, .1);
            z-index: 1;
        }

        .swiper-video {
            cursor: pointer;
            display: block;
            width: 6rem;
            height: 6rem;
        }
    }

    .swiper-slide-active {
        pointer-events: auto;
    }

    .swiper-pagination-bullet-active {
        width: 3rem;
        border-radius: 6.25rem;
        background-color: rgb(21, 47, 101);
    }
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        display: none;
    }

    .bf {
        z-index: 9;
        cursor: pointer;
        width: 6rem;
        height: 6rem;
    }

    .play {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 2;

        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.btn-decisions-one {
    max-width: 17.875rem;
    width: 100%;
    gap: 0.938rem;
}

.btn-decisions-two {
    max-width: 14.188rem;
    width: 100%;
    gap: 0.938rem;
}

.btn-decisions-three {
    max-width: 12.75rem;
    width: 100%;
    gap: 0.938rem;
}

.main-open {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 6rem;

    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        h1 {
            color: rgb(21, 47, 101);
        }

        p {
            font-size: 2rem;
            font-family: "Montserrat Medium", sans-serif;
            line-height: 2.5rem;
        }
    }

    .main-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .main-v {
            position: relative;
            overflow: hidden;
            max-width: 29rem;
            width: 100%;
            height: 41.875rem;

            .main-v-img {
                width: 100%;
                height: 100%;

                img {
                    transition: all 1s;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &:hover img {
                    transform: scale(1.05);
                }
            }
        }


        .title {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            position: absolute;
            bottom: 3rem;
            left: 3rem;
            z-index: 5;
            width: 100%;

            h1 {
                font-size: 3rem;
                line-height: 3.375rem;
            }
        }
    }
}

.footer-meta {
    padding-top: 6rem;
}

.footer {
    background: #0f1438;

    .footer-content {
        padding: 2.25rem 0;
        display: flex;
        flex-direction: column;
        gap: 2.25rem;

        .footer-block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .footer-item {
                display: flex;
                flex-direction: column;
                gap: 0.375rem;
                max-width: 21.375rem;
                width: 100%;

                ul {
                    li {
                        list-style: none;
                        padding: 0.375rem 0;
                        height: 2rem;

                        a {
                            font-size: 0.75rem;
                            font-family: "Montserrat Regural", sans-serif;
                            line-height: 1.25rem;
                            display: block;
                            color: #FFFFFF !important;
                            height: 100%;
                            position: relative;

                            &::after {
                                position: absolute;
                                left: 50%;
                                right: 0;
                                transform: translateX(-50%);
                                bottom: 0;
                                width: 0;
                                height: 0.063rem;
                                background-color: #999;
                                content: "";
                                z-index: 6;
                                transition: width 0.2s cubic-bezier(0.260, 0.005, 0.000, 1.035);
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .footer-social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .phone {
                display: flex;
                align-items: center;
                gap: 3rem;

                .phone-item {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    a {
                        font-family: "Roboto Regural", sans-serif;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        color: #FFFFFF !important;
                    }
                }
            }

            .social-networks {
                display: flex;
                align-items: center;
                gap: 0.938rem;

                a {
                     svg {
                         width: 2rem;
                         height: 2rem;
                     }
                }
            }
        }

        .foot-license {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: #FFFFFF;
                opacity: 0.5;
                font-size: 0.875rem;
            }
        }
    }
}
